{% extends 'app/base.html' %}
{% block headline %}Readings{% endblock headline %}
{% block content %}
  {% if readings %}
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>device</th>
          <th>location</th>
          <th>data address</th>
          <th>time-to-read</th>
          <th>name</th>
          <th>values</th>
        </tr>
      </thead>
    {% for r in readings %}
      <tr>
        <td>{{ r.device_address }}</td>
        <td>{{ r.location_id }}</td>
        <td>{{ r.data_address }}</td>
        <td>{{ r.ttr }}</td>
        <td>{{ r.name }}</td>
        {% if r.type == 'temperature' %}
          <td>{{ r.temperature.kelvin }}K, {{ r.temperature.celcius }}°C, {{ r.temperature.fahrenheit }}°F</td>
        {% elif r.type == 'emissivity' %}
          <td>{{ r.value }}</td>
        {% else %}
          <td>Unsupported datatype: {{ r.type }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  {% else %}
    <p>no current readings to report</p>
  {% endif %}
{% endblock %}
