{% extends 'app/base.html' %}
{% block headline %} Series {% endblock headline %}
{% block content %}
    <div>
        <h3>{{ title }}</h3>
        {% if series %}
            <table class='table table-striped'>
                <thead>
                    <tr>
                        <th>time</th>
                        <th>readings</th>
                        <th>duration (ms)</th>
                        <th>max read time (ms)</th>
                        <th>max object temp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in series %}
                        <tr>
                            <td><a href="/series/{{ s.id }}/readings/">{{ s.time }}</a></td>
                            <td>{{ s.reading_count }}</td>
                            <td>{{ s.duration_ms }}</td>
                            <td>{{ s.max_ttr_ms }}</td>
                            {% if s.max_object_temp %}
                                <td>{{ s.max_object_temp.0.kelvin }}K, {{ s.max_object_temp.0.celcius }}°C, {{ s.max_object_temp.0.fahrenheit }}°F</td>
                            {% else %}
                                <td>0.0</td>
                            {% endif %}
                        </tr>        
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>no series data to display</p>
        {% endif %}
    </div>
{% endblock %}
